In [1]:
# PyCity Schools Analysis
##  Math scores are generally lower than reading scores
## Smaller schools have better average grades and pass rates
## Charter schools have better average grades and pass rates

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
students_csv_path = os.path.join('raw_data', 'students_complete.csv')
schools_csv_path = os.path.join('raw_data', 'schools_complete.csv')
students_df = pd.read_csv(students_csv_path)
schools_df = pd.read_csv(schools_csv_path)
print(students_df.head(3))
print(schools_df)

   Student ID             name gender grade             school  reading_score  \
0           0     Paul Bradley      M   9th  Huang High School             66
1           1     Victor Smith      M  12th  Huang High School             94
2           2  Kevin Rodriguez      M  12th  Huang High School             90

   math_score
0          79
1          61
2          60
    School ID                   name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
# District Summary

In [5]:
total_schools = len(schools_df)
total_students = schools_df['size'].sum()
total_budget = schools_df['budget'].sum()
avg_math_score = students_df['math_score'].mean()
avg_reading_score = students_df['reading_score'].mean()
perc_passing_math = len(students_df[students_df['math_score'] >= 70]) / total_students
perc_passing_reading = len(students_df[students_df['reading_score'] >= 70]) / total_students
perc_overall_passing = (perc_passing_math + perc_passing_reading) / 2

district_summary_df = pd.DataFrame({'Total Schools': total_schools,
                                    'Total Students': total_students,
                                    'Total Budget': total_budget,
                                    'Average Math Score': avg_math_score,
                                    'Average Reading Score': avg_reading_score,
                                    '% Passing Math': perc_passing_math,
                                    '% Passing Reading': perc_passing_reading,
                                    '% Overall Passing Rate': perc_overall_passing}, index=[0])
district_summary_df = district_summary_df[['Total Schools',
                                           'Total Students',
                                           'Total Budget',
                                           'Average Math Score',
                                           'Average Reading Score',
                                           '% Passing Math',
                                           '% Passing Reading',
                                           '% Overall Passing Rate']]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.803932

In [6]:
# School Summary

In [7]:
school_summary_df = pd.DataFrame()
for school in schools_df['name']:
    temp_school_df = schools_df[schools_df['name'] == school]
    temp_school_df.drop('School ID', axis=1, inplace=True)
    temp_school_df['Per Student Budget'] = temp_school_df['budget'] / temp_school_df['size']
    temp_students_df = students_df[students_df['school'] == school]
    total_students = len(temp_students_df)
    avg_math_score = temp_students_df['math_score'].mean()
    avg_reading_score = temp_students_df['reading_score'].mean()
    perc_passing_math = len(temp_students_df[temp_students_df['math_score'] >= 70]) / total_students
    perc_passing_reading = len(temp_students_df[temp_students_df['reading_score'] >= 70]) / total_students
    perc_overall_passing = (perc_passing_math + perc_passing_reading) / 2    
    temp_student_summary_df = pd.DataFrame({'name': school,
                                            'Average Math Score': avg_math_score,
                                            'Average Reading Score': avg_reading_score,
                                            '% Passing Math': perc_passing_math,
                                            '% Passing Reading': perc_passing_reading,
                                            '% Overall Passing Rate': perc_overall_passing}, index=[0])
    temp_student_summary_df = temp_student_summary_df[['name',
                                                       'Average Math Score',
                                                       'Average Reading Score',
                                                       '% Passing Math',
                                                       '% Passing Reading',
                                                       '% Overall Passing Rate']]
    temp_school_df = temp_school_df.merge(temp_student_summary_df, on='name')
    school_summary_df = pd.concat([school_summary_df, temp_school_df])
    
school_summary_df.columns = ['School',
                             'Type',
                             'Total Students',
                             'Total School Budget',
                             'Per Student Budget',
                             'Average Math Score',
                             'Average Reading Score',
                             '% Passing Reading',
                             '% Passing Math',
                             '% Overall Passing Rates']
school_summary_df.set_index('School', inplace=True)
del school_summary_df.index.name
school_summary_df

C:\Users\markg\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\markg\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Overall Passing Rates
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905

In [8]:
# Top Performing Schools (By Passing Rate)

In [9]:
top_performing_schools_df = school_summary_df.copy()
top_performing_schools_df.sort_values('% Overall Passing Rates', ascending=False, inplace=True)
top_performing_schools_df = top_performing_schools_df.head(5)
top_performing_schools_df

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Overall Passing Rates
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037

In [10]:
# Bottom Performing Schools (By Passing Rate)

In [11]:
bottom_performing_schools_df = school_summary_df.copy()
bottom_performing_schools_df.sort_values('% Overall Passing Rates', inplace=True)
bottom_performing_schools_df = bottom_performing_schools_df.head(5)
bottom_performing_schools_df

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Overall Passing Rates
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043

In [12]:
# Math Scores by Grade

In [13]:
math_grade_pivot = pd.pivot_table(students_df, values='math_score', index=['school'],
                                  columns=['grade'], aggfunc=np.mean)
#school_grade_pivot.set_index('school', inplace=True)

math_grade_pivot.index.name = None

cols = ['9th', '10th', '11th', '12th']
math_grade_pivot = math_grade_pivot[cols]
math_grade_pivot.columns = cols
math_grade_pivot

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [14]:
# Reading Scores by Grade

In [15]:
reading_grade_pivot = pd.pivot_table(students_df, values='reading_score', index=['school'],
                                    columns=['grade'], aggfunc=np.mean)
#school_grade_pivot.set_index('school', inplace=True)

reading_grade_pivot.index.name = None

cols = ['9th', '10th', '11th', '12th']
reading_grade_pivot = reading_grade_pivot[cols]
reading_grade_pivot.columns = cols
reading_grade_pivot

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [16]:
# Scores by School Spending

In [17]:
school_summary_df['Spending Ranges (Per Student)'] = pd.cut(school_summary_df['Total\xa0School Budget'], 3)
budget_bin_groupby = school_summary_df.groupby('Spending Ranges (Per Student)')
school_budget_summary_df = budget_bin_groupby.mean()
cols = ['Average\xa0Math\xa0Score',
        'Average\xa0Reading\xa0Score',
        '%\xa0Passing\xa0Reading',
        '%\xa0Passing\xa0Math',
        '%\xa0Overall\xa0Passing\xa0Rates']
school_budget_summary_df = school_budget_summary_df[cols]
school_budget_summary_df

,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Overall Passing Rates
Spending Ranges (Per Student),,,,,
"(245210.159, 1207034.0]",83.502373,83.883125,0.935856,0.965932,0.950894
"(1207034.0, 2165981.0]",78.429493,81.769122,0.734624,0.844736,0.789680
"(2165981.0, 3124928.0]",77.063340,80.919864,0.664643,0.810597,0.737620

In [18]:
school_summary_df['School Size'] = pd.cut(school_summary_df['Total\xa0Students'], 3)
size_bin_groupby = school_summary_df.groupby('School Size')
school_size_summary_df = size_bin_groupby.mean()
cols = ['Average\xa0Math\xa0Score',
        'Average\xa0Reading\xa0Score',
        '%\xa0Passing\xa0Reading',
        '%\xa0Passing\xa0Math',
        '%\xa0Overall\xa0Passing\xa0Rates']
school_size_summary_df = school_size_summary_df[cols]
school_size_summary_df

,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Overall Passing Rates
School Size,,,,,
"(422.451, 1943.333]",83.502373,83.883125,0.935856,0.965932,0.950894
"(1943.333, 3459.667]",78.429493,81.769122,0.734624,0.844736,0.789680
"(3459.667, 4976.0]",77.063340,80.919864,0.664643,0.810597,0.737620

In [19]:
type_groupby = school_summary_df.groupby('Type')
school_type_summary_df = type_groupby.mean()
cols = ['Average\xa0Math\xa0Score',
        'Average\xa0Reading\xa0Score',
        '%\xa0Passing\xa0Reading',
        '%\xa0Passing\xa0Math',
        '%\xa0Overall\xa0Passing\xa0Rates']
school_type_summary_df = school_type_summary_df[cols]
school_type_summary_df.index.name = 'School Type'
school_type_summary_df

,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Overall Passing Rates
School Type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.951037
District,76.956733,80.966636,0.665485,0.807991,0.736738